.tag {
    padding: 3px 40px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;
}
@media only screen and (max-width: 600px) {
    .tag {
        padding: 2px 25px;
        font-size: 10px;
        border-radius: 5px;
    }
}