.cards {
    position: relative;
    width:340px;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
}
/* bottom gradient */
.cards::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.72));
}
.cards img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.cards p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    z-index: 5;
    color: white;
    width: 70%;
}
@media only screen and (max-width: 600px) {
    .cards {
        width: 100%;
    }
    .cards p {
        bottom: 15px;
    }
}