.footer {
    z-index: 50;
    bottom:0;
    width: 100%;
    text-align: center;
    background: black;
    margin: 0;
    color: white;
    font-size:24px;
    font-weight: 300;
    padding-bottom: 25px;
}
.footer img {
    width: 150px;
    margin: 50px 0 25px 0;
    height: fit-content;
}
@media only screen and (max-width: 600px) {
    .footer {
        font-size: 12px;
        padding: 10px 0 60px 0;
    }

}