/* infos */
.housing__infos {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.housing__infos>div {
    max-width: 70%;
}

.housing__infos h2 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.housing__infos__location {
    font-size: 18px;
    margin: 0;
}
.housing__infos__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
/* host */
.housing__infos__host {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px
}
.housing__infos__host img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.housing__infos__host__names p{
    margin: 0;
    text-align: right;

}
/* profil pictures & rating*/
.housing__infos aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .housing__infos {
        flex-direction: column;
    }
    .housing__infos>div {
        max-width: 100%;
    }
    .housing__infos h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .housing__infos__location{
        font-size: 14px;
    }
    .housing__infos__tags {

        margin-top: 10px;
    }
    .housing__infos__host img {
        width: 32px;
        height: 32px;
    }
    .housing__infos__host__names p{
        font-size: 12px;
    }
    /* profil pictures & rating*/
    .housing__infos aside {
        margin-top: 15px;
        flex-direction: row-reverse;
        align-items: flex-end;
    }
}